<div id="<%= dom_id message %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Session:</strong>
    <%= message.session_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Role:</strong>
    <%= message.role %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Content:</strong>
    <%= message.content %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Data attachment path:</strong>
    <%= message.data_attachment_path %>
  </div>
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= message.user_id %>
  </div>
</div>
