<%= form_with(model: schedule, class: "contents") do |form| %>
  <% if schedule.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul class="list-disc ml-6">
        <% schedule.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :pipeline_id %>
    <%= form.text_field :pipeline_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": schedule.errors[:pipeline_id].none?, "border-red-400 focus:outline-red-600": schedule.errors[:pipeline_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :cron_expression %>
    <%= form.text_field :cron_expression, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": schedule.errors[:cron_expression].none?, "border-red-400 focus:outline-red-600": schedule.errors[:cron_expression].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :timezone %>
    <%= form.text_field :timezone, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": schedule.errors[:timezone].none?, "border-red-400 focus:outline-red-600": schedule.errors[:timezone].any?}] %>
  </div>

  <div class="my-5 flex items-center gap-2">
    <%= form.label :is_active %>
    <%= form.checkbox :is_active, class: ["block shadow-sm rounded-md border order-first h-5 w-5", {"border-gray-400 focus:outline-blue-600": schedule.errors[:is_active].none?, "border-red-400 focus:outline-red-600": schedule.errors[:is_active].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :next_run_at %>
    <%= form.datetime_field :next_run_at, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": schedule.errors[:next_run_at].none?, "border-red-400 focus:outline-red-600": schedule.errors[:next_run_at].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :last_triggered_run_id %>
    <%= form.text_field :last_triggered_run_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": schedule.errors[:last_triggered_run_id].none?, "border-red-400 focus:outline-red-600": schedule.errors[:last_triggered_run_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :created_by_user_id %>
    <%= form.text_field :created_by_user_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": schedule.errors[:created_by_user_id].none?, "border-red-400 focus:outline-red-600": schedule.errors[:created_by_user_id].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
