<div id="<%= dom_id pipeline %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= pipeline.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= pipeline.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Created by user:</strong>
    <%= pipeline.created_by_user_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Project:</strong>
    <%= pipeline.project_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Version:</strong>
    <%= pipeline.version %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= pipeline.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Tags:</strong>
    <%= pipeline.tags %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Ai assisted design details:</strong>
    <%= pipeline.ai_assisted_design_details %>
  </div>
</div>
