<div id="<%= dom_id dashboard_widget %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Dashboard:</strong>
    <%= dashboard_widget.dashboard_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Widget type:</strong>
    <%= dashboard_widget.widget_type %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= dashboard_widget.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Configuration:</strong>
    <%= dashboard_widget.configuration %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Refresh interval seconds:</strong>
    <%= dashboard_widget.refresh_interval_seconds %>
  </div>
</div>
